<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.lastproject.dao.FoodDao">

	<select id="getStockDessert" resultType="com.first.lastproject.dto.FoodDto">
	SELECT * FROM p_food WHERE food_num &gt;= 0
	</select>
	<update id="modifyStockFood" parameterType="Map">
	UPDATE p_food SET food_num=#{food_num} WHERE food_code=#{food_code}
	</update>
	<select id="listGoods" resultType="com.first.lastproject.dto.FoodDto">
	SELECT * FROM p_food
	</select>
	<select id="getFood" parameterType="int" resultType="com.first.lastproject.dto.FoodDto">
	SELECT * FROM p_food WHERE food_code=#{food_code}
	</select>
	<select id="reduceFoodNum" parameterType="int">
	UPDATE p_food SET food_num = food_num - 1 WHERE food_code = #{food_code}
	</select>
</mapper>