<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.lastproject.dao.IngredientDao">

	<select id="listIngredient" resultType="com.first.lastproject.dto.IngredientDto">
	SELECT ingredient_code, ingredient, ingre_num FROM p_ingredient
	</select>
	<update id="modifyIngredient" parameterType="Map">
	UPDATE p_ingredient SET ingre_num=#{ingre_num} WHERE ingredient_code=#{ingredient_code}
	</update>
</mapper>