<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.lastproject.dao.MemberDao">

	<insert id="addMember" parameterType="com.first.lastproject.dto.MemberDto">
	INSERT INTO p_user VALUES (#{id}, #{passwd},0,#{phone_number},#{email},0,0)
	</insert>
	
	<select id="checkMember" resultType="int" parameterType="Map">
	SELECT COUNT(*) FROM p_user WHERE id = #{id} AND passwd = #{passwd}
	</select>
	
	<select id="getMember" resultType="com.first.lastproject.dto.MemberDto" parameterType="String">
	SELECT * FROM p_user WHERE id = #{id}
	</select>
	
	<select id="check" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM p_user WHERE id = #{id}
	</select>
	
	<select id="checkEmail" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM p_user WHERE email = #{email}
	</select>
	
	<insert id="makeCoupon"  parameterType="String">
	INSERT INTO p_coupon VALUES (seq_coupon_num.nextval,#{id},sysdate+180)
	</insert>
	
	<update id="getCoupons" parameterType="String">
	UPDATE p_user SET get_coupon = 1 WHERE id = #{id}
	</update>
	
	<select id="getCoupon" parameterType="String" resultType="int">
	SELECT coupon_num FROM p_coupon WHERE id= #{id}
	</select>
	
	<select id="checkCoupon" parameterType="String" resultType="int">
	SELECT count(*) FROM p_coupon WHERE id= #{id}
	</select>
	
	<select id="getId" parameterType="String" resultType="com.first.lastproject.dto.MemberDto">
	SELECT id FROM p_user WHERE email = #{email} 
	</select>
	
	<select id="getPasswd" parameterType="Map" resultType="com.first.lastproject.dto.MemberDto">
	SELECT passwd FROM p_user WHERE id = #{id} AND email = #{email}
	</select>
	
	<update id="modifyMember" parameterType="com.first.lastproject.dto.MemberDto">
	UPDATE p_user SET passwd = #{passwd}, phone_number = #{phone_number}, email= #{email} WHERE id = #{id} 
	</update>
	
	<update id="useMileage" parameterType="Map">
	UPDATE p_user SET mileage = mileage - #{mileage} WHERE id = #{id}
	</update>
	
	<update id="addMileage" parameterType="Map">
	UPDATE p_user SET mileage = mileage + #{mileage} WHERE id = #{id}
	</update>
</mapper>