<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.first.lastproject.dao.OrderDao">

	<update id="updateOrderSeatEndTime" parameterType="String">
		UPDATE p_order SET end_time=sysdate WHERE order_id=#{order_id}
	</update>

	<update id="makeOrderDone" parameterType="String">
		UPDATE p_order SET order_done=1 WHERE order_id=#{order_id}
	</update>

	<insert id="insertOrder" parameterType="com.first.lastproject.dto.OrderDto">
		INSERT INTO p_order VALUES (seq_order_code.nextval,?,?,#{sysdate},#{sysdate+3/24, 0})
	</insert>
</mapper>