@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family:SeoulNamsanFont;
	src: url(./resources/SeoulNamsanEB.ttf);
}
@font-face {
	font-family:SeoulNamsanFont;
	src: url(./resources/SeoulNamsanEB.ttf);
	font-weight: bold;
}
body {
	font-family: SeoulNamsanFont;
	margin: 0px;
	font-style: normal;
	font-weight: 200;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
/*헤더부터 네비게이션까지*/
header {
	background-color: #7c6f91;
	height: 55px;
}
header h1 {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 25px;
	float: left;
	color: #ffffff;
}
.header_side{
	float: right;
	width: 150px;
}
.header_side li {
	display: inline;
	border-right-width: 2px;
	border-right-color: #ccc;
	padding-right: 5px;
	padding-left: 5px;
	color: #fff;
}
#nav {
	clear:both;
	list-style-type: none; /*불릿 기호 없앰*/
	height:45px;/*내비게이션 높이*/
	padding-bottom: 5px 7px; /*위아래 6px, 좌우 7px씩 안여백*/
	margin:0;/*바깥 여백 없음*/
	background: #7d7d7d;/*내비게이션 전체 배경색*/
	/*border-radius: 1.5em; 모서리 둥글게*/
}
#nav li {/*메뉴 각 항목에 대한 스타일*/
	float:left;/*왼쪽부터 표시*/
	position:relative; /*순서대로 표시*/
	margin:5px 0px; /*위아래 5px, 좌우 10px씩 바깥 여백*/
	padding:0 40px; /*안여백 없음*/
}
#nav li a {
	display: block; /*영역을 만듦*/
	font-family: "SeoulNamsanFont"; /*글꼴*/
	font-weight: 600;/*진하게*/
	font-size: 1em;	/*글자크기*/
	padding:10px 20px; /*안여백*/
	color: #e7e5e5; /*링크 글자색*/
	text-decoration: none;/*밑줄 없앰*/
	margin: 0; /*바깥 여백 없음*/
	border-radius: 1.4em; /*링크의 모서리를 둥글게*/
	text-shadow:0 1px 1px rgba(0,0,0,.3); /*텍스트 그림자*/
}
#nav li:hover a {
	background: #ebebeb; /*배경색*/
	color: #444; /*글자색*/
	text-shadow:0 1px 1px rgba(255,255,255,1); /*글자 그림자*/
	border-radius:1.4em; /*모서리 둥글게*/
	-webket-box-shadow:0 1px 1px rgba(0,0,0,0.2); /*메뉴 항목에 그림자*/
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2); /*메뉴 항목에 그림자*/
}
#nav li:hover ul {/*메인 메뉴 위로 마우스 포인터를 가져갔을 때 서브 메뉴 스타일 */
	opacity:1; /*서브 메뉴 불투명해짐*/
}
#nav li:hover ul li {
	height:35px; /*서브 메뉴 항목의 높이 */
	overflow: visible; /*메뉴 영역을 넘어서는 내용이 있다면 표시*/
	padding:0; /*안쪽 여백 없음*/
}
#nav ul { /*서브 메뉴 영역에 대한 스타일 */
	margin:0; /*서브 메뉴 바깥 여백 없음*/
	padding:0; /*서브 메뉴 안여백 없음*/
	list-style:none;/*목록의 불릿 없앰*/
	position:absolute; /*고정 위치에 표시*/
	left:0; /*부모 요소와 left 좌푯값은 같게*/
	top:40px; /*부모 요소로부터 아래 방향으로 45px 밑에 표시 */
	width:150px; /*서브 메뉴 너비*/
	background:#ddd; /*서브 메뉴 배경색*/
	border:1px solid #b4b4b4; /*서브 메뉴 테두리를 그림*/
	border-radius:8px; /*모서리를 둥글게 처리*/
	box-shadow:0 1px 3px rgba(0,0,0,.3);
	opacity:0; /* 투명하게 표시- 결국 평소엔 안 보임 */
}
#nav ul li { /*서브 메뉴각 항목의 스타일*/
	float:none; /*세로로 표시*/
	margin:0; /*바깥 여백 없음*/
	padding:0; /*안여백 없음*/
	height:0; /*화면에서 감춤*/
	overflow: hidden; /*height:0을 해도 보이는 부분이 있다면 감춤*/
}
#nav ul a { /*서브 메뉴 항목의 링크 스타일*/
	font-weight: normal; /*진하기 보통*/
	text-shadow:0 1px 0 #fff; /*글자 그림자*/
	color: #333; /*글자색*/
}
#nav ul li:hover a {
	background:#0078ff; /*배경색*/
	color: #fff; /*글자색*/
	text-shadow:0 1px 1px rgba(0,0,0,0.1); /*글자 그림자*/
	border-radius:0; /*모서리 둥글게 처리 안 함*/
}
#nav ul li:first0child > a{ /*서브 메뉴 첫번째 항목의 스타일*/
	border-top-left-radius: 8px; /*왼쪽 윗부분 둥글게 */
	border-bottom-right-radius: 8px; /*오른쪽 윗부분 둥글게 */
}
#nav ul li:last-child > 1 { /*서브 메뉴 마지막 항목의 스타일*/
	border-bottom-left-radius:8px;/*왼쪽 아랫부분 둥글게 */
	border-bottom-right-radius: 8px;
}
/*헤더부터 네비게이션까지 끗*/
/*푸터*/
footer {
	background-color: #7c6f91;
}
/*푸터 끗*/
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
header, footer {
	display: block;
}

/*본문*/
.clear {
	clear:both;
}